@use "./_variables" as *;

.list-container {
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;

    .list-container-item {
        width: 100%;
        height: 100%;
    }
}
